html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  border-top: 10px solid #b3fbff;
  border-bottom: 10px solid #b3fbff;
  height: 500px;
  background: repeating-linear-gradient(-30deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

.banner-text {
  position: absolute;
  top: .2em;
  left: .2em;
  opacity: 0;
  animation: banner-text .4s .6s linear forwards;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform: rotate(-5deg);
  max-width: 19em;
}

img {
  position: absolute;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .3); */
}

.fifty {
  width: 50px;
}

.hundred {
  width: 120px;
}

.mint {
  position: absolute;
  top: 190px;
  right: 8em;
  transform: translateY(-200em);
  animation: icecream 1s linear forwards;
}

.cone {
  position: absolute;
  top: 290px;
  right: 7.5em;
  transform: translateY(-200em);
  animation: icecream 1s linear forwards;
}

.chocolate {
  position: absolute;
  top: 120px;
  right: 7.5em;
  transform: translateY(-200em);
  animation: icecream 1s linear forwards;
}

.vanilla {
  position: absolute;
  top: 70px;
  right: 7.5em;
  transform: translateY(-200em);
  animation: icecream 1s linear forwards;
}

.cherry {
  position: absolute;
  top: 30px;
  right: 8.5em;
  transform: translateY(-200em);
  animation: icecream 1s linear forwards;
}
